In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

fortune = pd.read_csv('../course-files/Fortune_500_2017.csv', usecols=['Rank','Title','Employees','Profits','Assets'], index_col='Rank', low_memory=False)

fortune.head(10)

                   Title  Employees  Profits  Assets
Rank
1                Walmart    2300000  13643.0  198825
2     Berkshire Hathaway     367700  24074.0  620854
3                  Apple     116000  45687.0  321686
4            Exxon Mobil      72700   7840.0  330314
5               McKesson      68000   2258.0   56563
6     UnitedHealth Group     230000   7017.0  122810
7             CVS Health     204000   5317.0   94462
8         General Motors     225000   9427.0  221690
9                   AT&T     268540  12976.0  403821
10            Ford Motor     201000   4596.0  237951

2. Wylicz ranking tak, aby najniższe wartości były przyznawane firmom z największą ilośćią pracowników (kolumna Employees). Wyświetl nagłówek wyznaczonej serii danych

In [3]:
fortune['Employees'].rank(ascending=False).head()

Rank
1      1.0
2      7.0
3     57.0
4     94.0
5    104.5
Name: Employees, dtype: float64

3. Dodaj do zmiennej frame kolumnę nazwaną 'RankByEmployee', zawierającą powyżej wyznaczony ranking

In [4]:
fortune['RankByEmployee'] = fortune['Employees'].rank(ascending=False)
fortune.head()

                   Title  Employees  Profits  Assets  RankByEmployee
Rank
1                Walmart    2300000  13643.0  198825             1.0
2     Berkshire Hathaway     367700  24074.0  620854             7.0
3                  Apple     116000  45687.0  321686            57.0
4            Exxon Mobil      72700   7840.0  330314            94.0
5               McKesson      68000   2258.0   56563           104.5

4. Wylicz ranking tak, aby najniższe wartości były przyznawane firmom z największym zyskiem (kolumna
Profits). Wyświetl nagłówek wyznaczonej serii danych

In [5]:
fortune['Profits'].rank(ascending=False).head()

Rank
1     11.0
2      3.0
3      1.0
4     27.0
5    102.0
Name: Profits, dtype: float64

5. Dodaj do zmiennej frame kolumnę nazwaną 'RankByProfits', zawierającą powyżej wyznaczony ranking

In [6]:
fortune['RankByProfits'] = fortune['Profits'].rank(ascending=False)
fortune.head()

,Title,Employees,Profits,Assets,RankByEmployee,RankByProfits
Rank,,,,,,
1,Walmart,2300000,13643.0,198825,1.0,11.0
2,Berkshire Hathaway,367700,24074.0,620854,7.0,3.0
3,Apple,116000,45687.0,321686,57.0,1.0
4,Exxon Mobil,72700,7840.0,330314,94.0,27.0
5,McKesson,68000,2258.0,56563,104.5,102.0

6. Wyświetl 3 firmy, które mają największy zasób środków trwałych (kolumna Asset)

In [7]:
fortune.nlargest(n=3, columns='Assets')

,Title,Employees,Profits,Assets,RankByEmployee,RankByProfits
Rank,,,,,,
20,Fannie Mae,7000,12313.0,3287968,446.5,15.0
21,J.P. Morgan Chase,243355,24733.0,2490972,20.0,2.0
26,Bank of America Corp.,208024,17906.0,2187702,29.0,6.0

7. Wyświetl 3 firmy, które mają najmniejszy zasób środków trwałych (kolumna Asset)

In [8]:
fortune.nsmallest(n=3, columns='Assets')

,Title,Employees,Profits,Assets,RankByEmployee,RankByProfits
Rank,,,,,,
395,A-Mark Precious Metals,83,9.3,437,500.0,434.0
247,Core-Mark Holding,7688,54.2,1497,434.0,430.0
495,Big Lots,23150,152.8,1608,266.0,403.0