In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import random as rd

In [6]:
planes = {
    'PYT001' : 'Airbus 320',
    'PYT002' : 'Boeing 737',
    'PYT003' : 'Airbus 321'
}
aircrafts = pd.Series(planes)
aircrafts

PYT001    Airbus 320
PYT002    Boeing 737
PYT003    Airbus 321
dtype: object

In [3]:
flightsList=[]
for i in range(100):
    flightsList.append(rd.choice(aircrafts.index))
    
flightsList[:5]

['PYT003', 'PYT001', 'PYT001', 'PYT003', 'PYT003']

In [5]:
flights = pd.Series(flightsList)
flights[:5]

0    PYT003
1    PYT001
2    PYT001
3    PYT003
4    PYT003
dtype: object

In [7]:
flights_aircrafts = flights.map(aircrafts)
flights_aircrafts[:5]

0    Airbus 321
1    Airbus 320
2    Airbus 320
3    Airbus 321
4    Airbus 321
dtype: object